<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head.ejs') %>
</head>
<body>
  <section>
    <h1><%= oneBook.thumbnail %></h1>
    <h2><%= oneBook.title %><h2>
    <h3><%= oneBook.authors %></h3>
    <p><%= oneBook.description %></p>
  </section>
</body>
</html>